p#reg {
    position: relative;
    font-family: Calibri, sans-serif;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    background: linear-gradient(90deg, #7631d1, rgb(250, 45, 45), rgb(171, 151, 187));
    background-repeat: no-repeat;
    background-color: rgb(124, 255, 112);
    background-size: 80%;
    animation: animate 5s infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  @keyframes animate {
    50% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }