p#reg {
    position: relative;
    font-family: Impact, sans-serif;
    font-size: 45px;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #fffb00, rgb(211, 99, 99), rgb(171, 151, 187));
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 5s infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
